body {
    font-family: 'Montserrat Bold', sans-serif;
    min-width: 360px;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
}

.header-box {
    padding: 0 60px;
    
    &.header-box--white {
        margin-bottom: 60px;
    }

    .header {
        display: grid;
        grid-template-columns: 130px minmax(auto, 1112px) 479px;
        grid-template-rows: 50px 25px 41px;
    }

    .header__logo-link {
        grid-row-start: 2;
        z-index: 2;
        display: flex;
        min-width: 318px;
        text-decoration: none;

        .header__logo {
            width: 130px;
            height: 60px;
            margin-right: 4px;
        }

        .header__logo-slash {
            width: 21px;
            height: 47px;
            margin-right: 4px;
        }

        .header__logo-text {
            font-family: 'Montserrat Regular';
            font-size: 36px;
            line-height: 44px;
            color: $main-color;
        }
    }

    .header__checkbox {
        display: none;
    }

    .header__burger-menu {
        display: none;
        z-index: 2;
    }

    .header__button-close {
        display: none;
        z-index: 2;
    }

    .header__button-close-svg {
        display: none;
        z-index: 2;
    }
}

.header__top-line {
    display: flex;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 1;

    .header__lang {
        display: flex;
        align-items: center;
    }

    .header__lang-button {
        padding: 5px 7px;
        font-family: 'Montserrat Bold', sans-serif;
        font-size: $small-size;
        line-height: $small-size-line;
        letter-spacing: 1px;
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;

        &.header__lang-button--white {
            color: $text-color;
        }
    }
    
    .header__lang-button:hover {
        background: $bg-color;
        border-radius: 8px;
    }
    
    .header__lang-button:active {
        background: $accent-color;
        border-radius: 8px;
        color: #fff;
    }

    .header__lang::after {
        display: block;
    }

    .street::after {
        display: block;
    }

    .phone-number::after {
        display: block;
    }

    .facebook:hover path.facebook {
        fill: $accent-color;
    }
}

.header__nav {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: end;
    justify-self: end;
    z-index: 1;

    .header__nav-list {
        display: flex;
        justify-content: space-between;
        width: 416px;

        .header__nav-link {
            text-decoration: none;
            font-size: $standard-size;
            line-height: $standard-size-small-line;
            color: #fff;
        }

        .header__nav-link--white {
            color: $active-regular-color;
        }

        .header__nav-link:hover {
            margin-bottom: 3px;
            border-bottom: 2px solid #fff;
        }

        .header__nav-link--white:hover {
            border-bottom: 2px solid $active-regular-color;
        }

        .header__nav-link:focus {
            color: $accent-color;
            margin-bottom: 3px;
            border-bottom: 2px solid $accent-color;
        }
    }
}

@media (max-width: 1440px) {

    .header-box {
        padding: 0;
    }

    .header {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media (max-width: 950px) {

    .header-box {

        .header--section {
            grid-template-columns: 479px auto;
            grid-template-rows: 20px 25px 60px 25px;
            row-gap: 30px;
            padding-left: 60px;
        }

        .header__top-line--section {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 5;
        }

        .header__logo-link--section {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .header__nav--section {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 1;
            grid-column-end: 2;
            justify-self: start;
        }
    }
}

@media (max-width: 768px) {

    .header-box {

        .header {
            grid-template-columns: 479px auto;
            grid-template-rows: 20px 25px 60px 25px;
            row-gap: 30px;
            padding-left: 60px;
        }

        .header__top-line {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 5;
        }

        .header__logo-link {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .header__nav {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 1;
            grid-column-end: 2;
            justify-self: start;
        }
    }
}

@media (max-width: 599px) {

    .header-box {

        .header {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            row-gap: 0;
            position: relative;

            .header__top-line {
                background-color: rgba(245, 245, 250, 0.2);
                display: flex;
                justify-content: space-between;
                min-width: 345px;
                width: 100%;
                padding: 10px 15px;
            }

            .header__top-line--white {
                background-color: $bg-color;
            }
    
            .header__lang::after {
                content: "";
                display: none;
            }
    
            .street {
                display: none;
            }
    
            .phone-number::after {
                content: "";
                display: none;
            }
    
            .facebook {
                display: none;
            }
    
            .header__nav {
                display: none;
            }

            .header__logo-link {
                width: 70px;
                height: 32px;
                margin: 15px 0 15px 15px;
            }

            .header__logo--white {
                width: 69.33px;
                height: 32px;
            }

            .header__logo-slash--white {
                width: 11.26px;
                height: 26px;
            }

            .header__logo-text--white {
                font-size: 20px;
                line-height: 24px;
            }

            .header__burger-menu {
                display: block;
                position: absolute;
                top: 57.5px;
                right: 15px;
                z-index: 1;
                width: 32px;
                height: 32px;
                border: none;
                background-color: transparent;
            }

            .header__burger-menu-svg {
                width: 32px;
                height: 32px;
                border-radius: 8px;

                .header__burger-menu--white {
                    stroke: $main-color
                }
            }

            .header__nav {
                display: none;
                justify-content: center;
                align-items: flex-end;
                background-color: #707093;
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2;

                .header__nav-list {
                    flex-direction: column;
                    align-items: center;
                    width: 96%;
                    margin-top: 64px;

                    .header__nav-item {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 15px;
                        background-color: $bg-color;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        border-radius: 8px;
                        width: calc(100% - 12px);

                        .header__nav-link {
                            font-size: 24px;
                            line-height: 29px;
                            color: $active-regular-color;
                        }

                        .header__nav-link:hover {
                            margin-bottom: 0;
                            border-bottom: none;
                        }
                    }
                }

                .header__button-close {
                    display: flex;
                    position: absolute;
                    top: 12px;
                    right: 2%;
                    width: 32px;
                    height: 32px;
                    border: none;
                    background-color: transparent;
                    z-index: 3;
                }

                .header__button-close-svg {
                    display: flex;
                    position: absolute;
                    top: 12px;
                    right: 2%;
                    width: 32px;
                    height: 32px;
                }
            }

            .open {
                display: flex;
            }
        }
    }
}